{% extends 'back.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}

<style>
  h1 {
    text-align: center;
    color: #3498db;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f1f1f1;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Improved button styles */
  .actions a,
  .create-new {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer for better user experience */
  }

  .create-new {
    background-color: #2ecc71;
    color: #fff;
  }

  .actions a {
    background-color: #3498db;
    color: #fff;
  }

  .create-new:hover {
    background-color: #27ae60;
  }

  .actions a:hover {
    background-color: #ddd;
  }
</style>

<h1>Sponsor index</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Montant</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for sponsor in sponsors %}
      <tr>
        <td>{{ sponsor.id }}</td>
        <td>{{ sponsor.nom }}</td>
        <td>{{ sponsor.montant }}</td>
        <td class="actions">
          <a href="{{ path('app_sponsor_show_back', {'id': sponsor.id}) }}">show</a>
          <a href="{{ path('app_sponsor_edit_back', {'id': sponsor.id}) }}">edit</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="4">no records found</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('app_sponsor_new_back') }}" class="create-new">Create new</a>
{% endblock %}
