	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Art Museum</title>



		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{asset('front/assets/css/linearicons.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/nice-select.css')}}">					
			<link rel="stylesheet" href="{{asset('front/assets/css/animate.min.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{asset('front/assets/css/main.css')}}">
		</head>
		<body>
		<header >
           
                  <a class="flex logo">
    <img src="{{ asset('logo.png') }}" alt="CoolAdmin" class="img-fluid" style="max-width: 110px; height: auto; margin-top: 20px;" />
</a>

</a>	
<div style="display: flex;">
    <h1 class="flex-centered" style="margin-left: 600px; color: red; font-family: 'Your Special Font', sans-serif; font-size: 4em;">VR</h1>
    <h1 class="flex-centered" style="color: black; font-family: 'Your Special Font', sans-serif; font-size: 4em;">Muse</h1>
</div>
<span class="flex-centered" style="margin-left: 800px; color: ;">Where history comes alive!</span>


                    
            
        </header>

			<!-- start banner Area -->
			<!-- End banner Area -->	
			 {% block body %}
	 {% endblock %}

			<!-- start footer Area -->		
			<script src="{{asset('front/assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{{asset('front/assets/js/vendor/bootstrap.min.js')}}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{{asset('front/assets/js/easing.min.js')}}"></script>			
			<script src="{{asset('front/assets/js/hoverIntent.js')}}"></script>
			<script src="{{asset('front/assets/js/superfish.min.js')}}"></script>	
			<script src="{{asset('front/assets/js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{asset('front/assets/js/jquery.magnific-popup.min.js')}}"></script>	
			<script src="{{asset('front/assets/js/owl.carousel.min.js')}}"></script>	
			<script src="{{asset('front/assets/js/imagesloaded.pkgd.min.js')}}"></script>
			<script src="{{asset('front/assets/js/justified.min.js')}}"></script>					
			<script src="{{asset('front/assets/js/jquery.sticky.js')}}"></script>
			<script src="{{asset('front/assets/js/jquery.nice-select.min.js')}}"></script>			
			<script src="{{asset('front/assets/js/parallax.min.js')}}"></script>		
			<script src="{{asset('front/assets/js/mail-script.js')}}"></script>	
			<script src="{{asset('front/assets/js/main.js')}}"></script>
		
	
		</body>
	</html>