
{% extends 'front.html.twig' %}
{% block header %}
							   
                               <li><a href="">{{user.prenom}}</a></li>
                               <li><a href="">{{user.email}}</a></li>
                               <li><a href="{{ path('app_user_editProfile', {'id': user.id}) }}" class="btn btn-success ">edit</a></li>
                               <li><a href="{{ path('app_logout') }}" class="btn btn-danger ">LOGOUT</a></li>
			                   {% endblock %}
{% block body %}
</br>
</br>

    <div class="container text-center">
        <h1>Welcome, {{ user.nom }} {{ user.prenom }}</h1>
        </br>
</br>
        <table class="table">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    {% if not hide_password %}
                        <td>{{ user.password }}</td>
                    {% else %}
                        <td>********</td> <!-- Placeholder for hidden password -->
                    {% endif %}
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>name</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <!-- Add more details as needed -->
            </tbody>
        </table>
    </div>
{% endblock %}
